form {
	margin-bottom: 10px;
}
footer {
	text-align: center;
}
.container {
	border: 2px solid rgba(0, 0, 0, 0.2);
	max-width: 60%;
	border-radius: 20px;
	margin-top: 30px;
	font-family: "Raleway", sans-serif;
	background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.today {
	margin-top: 10px;
	border-radius: 23%;
	padding: 20px 20px;
	box-shadow: -1px 1px 1px 1px grey;
}

.faded {
	font-size: small;
	font-style: italic;
	color: rgba(0, 0, 0, 0.3);
	transition: none;
}
.today h1 {
	font-size: 30px;
}

#today-temps {
	text-decoration: none;
	color: black;
	font-family: "Raleway", sans-serif;
	font-size: 30px;
}
.today-details {
	margin-top: 30px;
	margin-left: 0;
	font-size: 14px;
	text-transform: capitalize;
}
#current-icon-wrapper {
	display: inline;
	height: 150px;
	position: relative;
	left: -30px;
	top: 10px;
}
.forecast,
.today {
	text-align: center;
}

.farenheit-link,
.celcius-link {
	position: relative;
	top: -5px;
	left: 2px;
	text-decoration: none;
}
.inactive {
	color: black;
}
.future h1 {
	font-size: 20px;
}

.future {
	margin-top: 10px;
}
.higher {
	font-weight: 600;
}
.symbol {
	font-size: 30px;
}
